body {
    margin: 5%;
    /* border: 3px solid black; */
}

.top {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: center;
}

.top div {
    /* background-color: rgba(0, 0, 255, 0.274); */
}

.top-img {
    text-align: center;
}

.top-img img {
    width: 70%;
    border-radius: 20%;
}

.top-content {
    font-family: sans-serif;
}

.aboutme {
    margin-top: 1em;
    width: 100%;
    /* background-color: rgba(0, 0, 255, 0.275); */
    text-align: center;
    font-family: sans-serif;
}

.aboutme-title {
    padding: 1em;
}

.aboutme-basic-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

.aboutme-basic-item {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1em;
    align-items: center;
    text-align: center;
    padding: 1em;
    margin: 1em;
    /* background-color: rgba(255, 0, 0, 0.128); */
}

.aboutme-basic-item img {
    width: 50%
}

.projects {
    font-family: sans-serif;
    text-align: center;
}

.projects-select {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.projects-embed {
    background-color: green
}

.projects-embed object {
    width: 100%;
    height: 100vh;
    /* max-width: 80vw; */
    /* max-height: 100vh; */
}