.catDescriptionWrapper {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin: 2% 0
}

.catDescriptionVerbose {
    max-height: 500px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
}
.catDescriptionVerbose h2 {
    text-align: center;
}

.catDescriptionChart {
    width: 100%;
    text-align: center;
}

.chartLine {
    stroke: black;
    stroke-width: 0.1px;
    stroke-dasharray: 0.5px;
}

.chartPoly {
    stroke: black;
    stroke-width: 0.2px;
    fill-opacity: 0;
    stroke-opacity: 0.3;
}

.chartPolyCat {
    stroke: silver;
    stroke-width: 0.2px;
    fill-opacity: 0.2;
    fill: silver
}

.chartLine.power {
    stroke: red;
}
.chartLine.speed {
    stroke: gold;
}
.chartLine.range {
    stroke: green;
}
.chartLine.durability {
    stroke: blue;
}
.chartLine.precision {
    stroke: cyan;
}
.chartLine.potential {
    stroke: purple;
}

svg text {
    text-anchor: middle;
    dominant-baseline: middle
}

.traitsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em
}

.trait {
    background-image: linear-gradient(to right,
     rgba(0, 0, 255, 0.2),
     rgba(255, 0, 0, 0.2)
     );
    padding: 0.4em;
    border-radius: 1em;
    font-family: Consolas,monospace
}

.verboseDesc {
    text-align: justify;
    padding: 1%;
    white-space: pre-line;
    font-family: Consolas,monospace
}