:root {
    --comedySectionSwitchWidth: 40%;
    --comedySectionSwitchAmount: 2
}
/* change amount when more sections happen */

.ComedySectionButtons {
    display: grid;
    width: var(--comedySectionSwitchWidth);
    margin-left: calc((100% - var(--comedySectionSwitchWidth)) / 2);
    grid-template-columns: repeat(var(--comedySectionSwitchAmount), 1fr);
    border-radius: 1em;
    padding: 5px;
    background-color: grey;
    margin-top: 2%
}

.Heading {
    text-align: center;
}

.Line {
    width: 98%;
}