.Education {
    margin: 2% 0;
}

.EducationHeading {
    display: grid;
    gap: 1em;
    width: 100%;
    grid-template-rows: 1fr 1fr;
}
.EducationHeadingText {    
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    p {
        font-weight: bold;
        font-size: 1.2em
    }
    pre{
        font-weight: bold;
        font-size: 1.2em;
        font-family: Verdana;
        white-space: pre-wrap;
    }
}
.EducationHeadingText div:first-child {
    font-size: 1.4em;
}
.EducationHeadingImage {
    margin-left: 10%;
    border-bottom-right-radius: 3em;
}
.EducationHeadingImageContainer{
    border-radius: 0.3em;
    .AsyncImage-root{
        border-radius: 0.3em;
    }
    img {
        border-top-left-radius: 3em;
        border-bottom-right-radius: 3em;
        max-width: fit-content;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0
    }
}

.EducationInfo {
    display: grid;
    gap: 2vw;
    margin: 1em;
    font-size: 1.2em;
}
.EducationInfoItem {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.3em;
    pre {
        font-family: Verdana;
        white-space: pre-wrap;
    }
}

@media screen and (max-width: 800px) {
    .EducationHeadingText {
        font-size: 2.5vw
    }
    .EducationHeadingText div:first-child {
        font-size: 3vw;
    }
    .EducationInfo {
        font-size: 2vw
    }
    .EducationHeadingImageContainer{
        img {
            border-top-left-radius: 1.5em;
            border-bottom-right-radius: 1.5em;
        }
    }
}