.Work {
    margin: 2% 0;
}

.WorkHeading {
    display: grid;
    gap: 1em;
    width: 100%;
}
.WorkHeadingText {    
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    p {
        font-weight: bold;
        font-size: 1.2em
    }
    pre{
        font-weight: bold;
        font-size: 1.2em;
        font-family: Verdana;
        white-space: pre-wrap;
    }
}
.WorkHeadingText div:first-child {
    font-size: 1.4em;
}
.WorkHeadingImage {
    margin-left: 10%;
    width: 30%
}
.WorkHeadingImageContainer{
    border-radius: 1em;
}

.WorkInfo {
    display: grid;
    gap: 2vw;
    margin: 1em;
    font-size: 1.2em;
}
.WorkInfoItem {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1em;
    pre {
        font-family: Verdana;
        white-space: pre-wrap;
    }
}

@media screen and (max-width: 800px) {
    .WorkHeadingText {
        font-size: 2.5vw
    }
    .WorkHeadingText div:first-child {
        font-size: 3vw;
    }
    .WorkInfo {
        font-size: 2vw
    }
}