@media (hover: hover){
    .ArrowButton {
        opacity: 0%;
    }
}

.ArrowButton {
    background-color: rgba(48, 48, 48, 0.596);
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
    transition: 0.2s;
}

.ArrowButton:active {
    background-color: rgba(49, 49, 49, 0.849)
}

.GalleryScreen {
    width: 100%;
    touch-action: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    display: flex;
    justify-content: space-between;
}

.GalleryScreen:hover {
    .ArrowButton {
        opacity: 100%;
    }
}

.Gallery {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-rows: min-content 80% auto;
}

.GallerySizeSlider {
    width: 100%
}