.Project {
    margin: 2% 0;
}

.ProjectHeading {
    display: grid;
    gap: 1em;
    width: 100%;
}
.ProjectHeadingText {    
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-top-left-radius: 3em;
    border-bottom-right-radius: 3em;
    p {
        font-weight: bold;
        font-size: 1.2em
    }
    pre{
        font-weight: bold;
        font-size: 1.2em;
        font-family: Verdana;
        white-space: pre-wrap;
    }
}
.ProjectHeadingText div:first-child {
    font-size: 1.4em;
}
.ProjectHeadingImage {
    width: 75%;
}
.ProjectHeadingImageContainer{
    justify-content: center;
}

.ProjectTechnologies {
    display: grid;
    gap: 2vw;
    margin: 1em;
    font-size: 1.2em;
}
.ProjectTechnologiesItem {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.2em;
    pre {
        font-family: Verdana;
        white-space: pre-wrap;
    }
}

@media screen and (max-width: 800px) {
    .ProjectHeadingText {
        font-size: 2.5vw;
        border-top-left-radius: 1.5em;
        border-bottom-right-radius: 1.5em;
    }
    .ProjectHeadingText div:first-child {
        font-size: 3vw;
    }
    .ProjectTechnologies {
        font-size: 2vw
    }
    .ProjectDescriptionContainer {
        font-size: 2vw;
    }
}

.ProjectDescriptionContainer {
    pre {
        font-family: Verdana;
        white-space: pre-wrap;
    }
}