:root {
    --seriousSectionSwitchWidth: 50%;
    --seriousSectionSwitchAmount: 4
}

.SeriousSectionButtonsContainer {
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
}

.SeriousSectionButtons {
    display: grid;
    width: var(--seriousSectionSwitchWidth);
    /* margin-left: calc((100% - var(--seriousSectionSwitchWidth)) / 2); */
    grid-template-columns: repeat(var(--seriousSectionSwitchAmount), 1fr);
    border-radius: 1em;
    padding: 5px;
    background-color: grey;
    margin-top: 2%
}