.StateSwitch {
    display: flex;
    align-items: center;
    background-color: grey;
    height: 2em;
    padding: 5px;
    border-radius: 1em;
    margin-top: 2%;
    margin-bottom: 2%
}

.StateSwitchPellet {
    width: 70%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: 0.2s;
    position: relative;
    border-radius: 0.8em;
}

.StateSwitchFill {
    display: flex;
    align-items: center;
    width:100%;
    height: 100%;
    background-color: rgb(65, 65, 65);
    border-radius: 0.8em;
}

@media (hover: hover){
    .SectionSwitch:hover {
        .SectionSwitchPellet{
            box-shadow: 0px 0px 2em;
        }
    }
}
.StateSwitch:active{
    .StateSwitchPellet{
        box-shadow: 0px 0px 2em 0.3em;
    }
}

.StateSwitchPellet.right {
    left: 0%
}
.StateSwitchPellet.left {
    left: 30%
}

.StateSwitchPelletText {
    text-transform: capitalize;
    user-select: none;
    font-size: min(1.6vw, 1em);
    background-color: white;
    color: black
}